#gameField {
	width: 800px;
	height: 800px;
	margin: auto;
	border: 1px solid black;
}

#gameField > .stoneSlot {
	width: 260px;
	height: 260px;
	margin: 2px;
	border: 1px solid black;
	float: left;
}