.stone[data-icon="1"] { background-image: url('img/icon_1.png'); }
.stone[data-icon="2"] { background-image: url('img/icon_2.png'); }
.stone[data-icon="3"] { background-image: url('img/icon_3.png'); }
.stone[data-icon="4"] { background-image: url('img/icon_4.png'); }
.stone[data-icon="5"] { background-image: url('img/icon_5.png'); }
.stone[data-icon="6"] { background-image: url('img/icon_6.png'); }
.stone[data-icon="7"] { background-image: url('img/icon_7.png'); }
.stone[data-icon="8"] { background-image: url('img/icon_8.png'); }
.stone[data-icon="9"] { background-image: url('img/icon_9.png'); }
.stone[data-icon="10"] { background-image: url('img/icon_10.png'); }
.stone[data-icon="11"] { background-image: url('img/icon_11.png'); }
.stone[data-icon="12"] { background-image: url('img/icon_12.png'); }
.stone[data-icon="13"] { background-image: url('img/icon_13.png'); }
.stone[data-icon="14"] { background-image: url('img/icon_14.png'); }
.stone[data-icon="15"] { background-image: url('img/icon_15.png'); }
.stone[data-icon="16"] { background-image: url('img/icon_16.png'); }
.stone[data-icon="17"] { background-image: url('img/icon_17.png'); }
.stone[data-icon="18"] { background-image: url('img/icon_18.png'); }
.stone[data-icon="19"] { background-image: url('img/icon_19.png'); }
.stone[data-icon="20"] { background-image: url('img/icon_20.png'); }
.stone[data-icon="21"] { background-image: url('img/icon_21.png'); }
.stone[data-icon="22"] { background-image: url('img/icon_22.png'); }
.stone[data-icon="23"] { background-image: url('img/icon_23.png'); }
.stone[data-icon="24"] { background-image: url('img/icon_24.png'); }
.stone[data-icon="25"] { background-image: url('img/icon_25.png'); }
.stone[data-icon="26"] { background-image: url('img/icon_26.png'); }
.stone[data-icon="27"] { background-image: url('img/icon_27.png'); }
.stone[data-icon="28"] { background-image: url('img/icon_28.png'); }
.stone[data-icon="29"] { background-image: url('img/icon_29.png'); }
.stone[data-icon="30"] { background-image: url('img/icon_30.png'); }
.stone[data-icon="31"] { background-image: url('img/icon_31.png'); }
.stone[data-icon="32"] { background-image: url('img/icon_32.png'); }
.stone[data-icon="33"] { background-image: url('img/icon_33.png'); }
.stone[data-icon="34"] { background-image: url('img/icon_34.png'); }
.stone[data-icon="35"] { background-image: url('img/icon_35.png'); }
.stone[data-icon="36"] { background-image: url('img/icon_36.png'); }
.stone[data-icon="37"] { background-image: url('img/icon_37.png'); }
.stone[data-icon="38"] { background-image: url('img/icon_38.png'); }
.stone[data-icon="39"] { background-image: url('img/icon_39.png'); }
.stone[data-icon="40"] { background-image: url('img/icon_40.png'); }
.stone[data-icon="41"] { background-image: url('img/icon_41.png'); }
.stone[data-icon="42"] { background-image: url('img/icon_42.png'); }
.stone[data-icon="43"] { background-image: url('img/icon_43.png'); }
.stone[data-icon="44"] { background-image: url('img/icon_44.png'); }
.stone[data-icon="45"] { background-image: url('img/icon_45.png'); }
.stone[data-icon="46"] { background-image: url('img/icon_46.png'); }
.stone[data-icon="47"] { background-image: url('img/icon_47.png'); }
.stone[data-icon="48"] { background-image: url('img/icon_48.png'); }
.stone[data-icon="49"] { background-image: url('img/icon_49.png'); }
.stone[data-icon="50"] { background-image: url('img/icon_50.png'); }
.stone[data-icon="51"] { background-image: url('img/icon_51.png'); }
.stone[data-icon="52"] { background-image: url('img/icon_52.png'); }
.stone[data-icon="53"] { background-image: url('img/icon_53.png'); }
.stone[data-icon="54"] { background-image: url('img/icon_54.png'); }
.stone[data-icon="55"] { background-image: url('img/icon_55.png'); }
.stone[data-icon="56"] { background-image: url('img/icon_56.png'); }
.stone[data-icon="57"] { background-image: url('img/icon_57.png'); }
.stone[data-icon="58"] { background-image: url('img/icon_58.png'); }
.stone[data-icon="59"] { background-image: url('img/icon_59.png'); }
.stone[data-icon="60"] { background-image: url('img/icon_60.png'); }
.stone[data-icon="61"] { background-image: url('img/icon_61.png'); }
.stone[data-icon="62"] { background-image: url('img/icon_62.png'); }
.stone[data-icon="63"] { background-image: url('img/icon_63.png'); }
.stone[data-icon="64"] { background-image: url('img/icon_64.png'); }
.stone[data-icon="65"] { background-image: url('img/icon_65.png'); }
.stone[data-icon="66"] { background-image: url('img/icon_66.png'); }
.stone[data-icon="67"] { background-image: url('img/icon_67.png'); }
.stone[data-icon="68"] { background-image: url('img/icon_68.png'); }
.stone[data-icon="69"] { background-image: url('img/icon_69.png'); }
.stone[data-icon="70"] { background-image: url('img/icon_70.png'); }
.stone[data-icon="71"] { background-image: url('img/icon_71.png'); }
.stone[data-icon="72"] { background-image: url('img/icon_72.png'); }
.stone[data-icon="73"] { background-image: url('img/icon_73.png'); }
.stone[data-icon="74"] { background-image: url('img/icon_74.png'); }
.stone[data-icon="75"] { background-image: url('img/icon_75.png'); }
.stone[data-icon="76"] { background-image: url('img/icon_76.png'); }
.stone[data-icon="77"] { background-image: url('img/icon_77.png'); }
.stone[data-icon="78"] { background-image: url('img/icon_78.png'); }
.stone[data-icon="79"] { background-image: url('img/icon_79.png'); }
.stone[data-icon="80"] { background-image: url('img/icon_80.png'); }
.stone[data-icon="81"] { background-image: url('img/icon_81.png'); }
.stone[data-icon="82"] { background-image: url('img/icon_82.png'); }
.stone[data-icon="83"] { background-image: url('img/icon_83.png'); }
.stone[data-icon="84"] { background-image: url('img/icon_84.png'); }
.stone[data-icon="85"] { background-image: url('img/icon_85.png'); }
.stone[data-icon="86"] { background-image: url('img/icon_86.png'); }
.stone[data-icon="87"] { background-image: url('img/icon_87.png'); }
.stone[data-icon="88"] { background-image: url('img/icon_88.png'); }
.stone[data-icon="89"] { background-image: url('img/icon_89.png'); }
.stone[data-icon="90"] { background-image: url('img/icon_90.png'); }
.stone[data-icon="91"] { background-image: url('img/icon_91.png'); }
.stone[data-icon="92"] { background-image: url('img/icon_92.png'); }
.stone[data-icon="93"] { background-image: url('img/icon_93.png'); }
.stone[data-icon="94"] { background-image: url('img/icon_94.png'); }
.stone[data-icon="95"] { background-image: url('img/icon_95.png'); }
.stone[data-icon="96"] { background-image: url('img/icon_96.png'); }
.stone[data-icon="97"] { background-image: url('img/icon_97.png'); }
.stone[data-icon="98"] { background-image: url('img/icon_98.png'); }
.stone[data-icon="99"] { background-image: url('img/icon_99.png'); }
.stone[data-icon="100"] { background-image: url('img/icon_100.png'); }
